<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Data Table</title>
        <meta charset="UTF-8">

        <!-- Bootstrap5 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
        <style>
            body {
                background-color: rgba(18, 19, 25, 1);  
            }
        </style>

        <div class="container-fluid py-3 px-5 bg-dark text-white">
            <h1 class="display-5 fw-bold">Boba Optimization</h1>
            <p class="col-md-8 fs-5">Boba Calculator to optimize sales by minimizing the amount of production cost.</p>
        </div>
        <div style='padding-left: 20px'>
            <h1 class="col-md-8 fs-bold text-lg-start" style="color:white; margin-top: 15px; font-size: 36px">Ingredient and Recipe Table</h1>
            <p style="color: white; font-size: 16px; ">Firstly, enter your boba variants in the "Enter product name" section and click "add  product recipe to list. After that, enter all the required information. On the recipe column, you can select the appropriate product and the amount of the ingredient it uses in the "product unit" section. If the product unit is in milliliters (ml), then the supply should also be milliliters (ml).<br>Eg. Milk Tea would use up 200 ml of milk. The ingredient would be milk, while the product is Milk Tea, and the product unit is 200.</p>
                <input type='text' id='product-name' placeholder='Enter product name' class='form-control d-inline' style='width: 250px; margin-top: 10px'/> 
                
                <select style='display: inline; width: 250px; height: 35px; margin-top: 10px;'>
                    <option value="" disabled></option>
                </select>
            <button type="button"  id='add-product-to-list-button' class="btn btn-primary d-block" style='width: 250px; margin-top: 10px; margin-bottom: 10px'>Add product recipe to list</button>
        </div>
        
        <form id='data-table'>
            
            <table class="table table-bordered table-dark">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Ingredients</th>
                        <th>Supply (weekly)</th>
                        <th>Price</th>
                        <th>Product Recipe</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Insert data -->
                    <div class="data-rows">
                        <tr id='ingredient-1'>    
                            <td id='row-number-1'>1</td>
                            <td>
                                <input type='text' name='ingredient[]' placeholder='add an ingredient...'/>
                            </td>
                            <td>
                                <input type='number' name='supply[]' placeholder='specify value...'/>
                            </td>
                            <td>
                                <input type='text' name='price[]' placeholder='specify value...'/>
                            </td>
                            <td>
                                <ol>
                                    <li>
                                        <select name='ingredientProductName[ingredient-1]'>

                                        </select>
                                        <input class='col-sm-3' type='text' name='ingredientProductUnit[ingredient-1]' placeholder='product unit...'/>
                                        <button type='button' class='btn btn-danger btn-delete-product'>Delete</button>
                                    </li>
                                    <div id='empty-recipe-row'></div>
                                    <button type="button" class="add-button-recipe btn btn-primary mt-4">Add product</button>
                                    <button type="button" class="edit-button-recipe col-sm-4 btn btn-secondary mt-4">Toggle Edit</button>
                                    <br>
                                    <button type="button" class="delete-button-ingredient col-sm-4 btn btn-danger mt-2" style='width: 60%'>Delete Ingredient</button>
                                    <hr>
                                </ol>
                            </td>
                        </tr>
                            
                        <tr id='empty-row'></tr>
                    </div>
                    <!-- Button add -->
                    <tr>
                        <td colspan="2" class='text-center'>
                            <button id='add-button' type="button" class="btn btn-primary">Add row+</button>
                            <button id='dup-button' type="button" class="btn btn-warning">Duplicate</button>                            
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered table-dark">
                <h1 class="col-md-8 fs-bold" style="color:white; font-size: 36px; margin-top: 60px; padding-left: 20px;">Sales Requirement</h1>
                <p style="color: white; padding-left: 20px; font-size: 16px"> Enter the amount of demands for each product per week. The "minimum sales" and "maximum sales" are the percentages of the sales of one product out of all the total sales (can be arbitrary). <br>Eg. Milk Tea would at least take part a minimum of 20% or a maximum of 40% of all the sales.</p>
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Product List</th>
                        <th>Demands (per week)</th>
                        <th>Minimum Sales (% - per week)</th>
                        <th>Maximum Sales (% - per week)</th>
                    </tr>
                </thead>
                <tbody>
                    <div class="score_rows">
                        <tr id='ingredient-score-1'>    
                            <td id='row-1-score'>1</td>
                            <td>
                                <select name='scoreListName[]'>

                                </select>
                            </td>
                            <td>
                                <input type='number' name='demand[]' placeholder='specify value...'/>
                            </td>
                            <td>
                                <input type='number' name='minimum[]' placeholder='specify value...'/>
                            </td>
                            <td>
                                <input type='number' name='maximum[]' placeholder='specify value...'/>
                            </td>
                        </tr>
                        
                        <tr id='empty-row-score'></tr>

                        <tr>
                            <td colspan="2" class='text-center'>
                                <button id='add-button-score' type="button" class="btn btn-primary">Add row+</button>
                            </td>
                        </tr>
                    </div>
                </tbody>
            </table>

            <div class="d-grid gap-2 col-4 mx-auto my-5" style="width: 1000px;">
                <button class="btn btn-success" id='cal_button' type="submit">Calculate!</button>
            </div>
        </form>

        <h1 class="col-md-8 fs-bold" style="color:white;font-size: 36px; margin-top: 60px; padding-left: 20px;">Result</h1>
    <p id='status' style="color:white; font-size: 16px;margin-top: 5px; padding-left: 20px">status: </p>
        <ol id='output' style="color: white; font-size: 16px;">

        </ol>

        
        <script src="{{url_for('static', filename='main.js')}}"/>
        <!-- Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>